<html lang="en">
<head>
</head>
<body>
    <header>
        <%- include('../../layout/header.ejs') %>
    </header>
    <form>
        <% books.forEach(item => { %>
          <p><%= console.log({item}) %></p>
          <%- include('./detail.ejs', {item: item})%>
    </form>
    <p>Book Description: <%= item.description %></p>
  <% }) %>
</body>
</html>
