<!DOCTYPE html>
<html>
  <head>
      <%- include('../../layout/head.ejs') %>
  </head>
  <body>  
      <header>
          <%- include('../../layout/header.ejs') %>
      </header>
      <form action="/search" method="post">
        <input type="text" placeholder="Enter a title or author" name="search" required>
        <br>
        <label>Author
            <input type="radio" name="search" value="author">
        </label>    
        <label>Title
            <input type="radio" name="search" value="title">
        </label>
        <button>Submit</button>
        
    </form>
  <footer>
    <%- include('../../layout/footer.ejs') %>
  </footer>
  </body>
</html>