*{
    /* width: 100%; */
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}


/* * {
 
  background-color: rgb(110, 238, 247);
  color: #150ba2;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
} */
.hide-me{
    display: none;
}

body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(220,217,249,1) 0%, rgba(172,224,217,1) 89.8% );
    box-sizing: border-box;
    margin: auto;
    text-overflow: auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    padding-top: 60px;
}

header {
    display: inline-block;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.961);
    text-shadow: 2px 2px 4px #000000;
}