
<h1>My Book List</h1>
<nav class="navigation">
  <ul>
    <li><a href="/"><button>View all books</button></a></li>
    <li><a href="/add"><button>Add a New Book</button></a></li>
    <li><a href="/search">Searches</a></li>
  </ul>
</nav>