
<header>
  <h1>My Book List</h1>
  <nav class="navigation">
    <ul>
      <li><a href="/"><button>View all books</button></a></li>
      <li><a href="/search"><button>Searches</button></a></li>
    </ul>
  </nav>
</header>